@import url(http://fonts.googleapis.com/css?family=Open+Sans|Ubuntu);

body {
    background-color:#357eef;
    color:#def8ff;
    font-family: 'Ubuntu',sans-serif;
    font-size:16px;

}
body > section, footer, header {
    height:10em;
    text-align:center;
}

body > section, footer {
    border-color:white;
    border-radius:2em;
    border-style:dashed;
    box-sizing:border-box;
    margin:1em auto;
    padding:1em;
    width:98%;
    behavior:url(media/pie/PIE.htc);
}
header {
    margin:0;
    width:100%;
}
